<!DOCTYPE html>
<html>
    <head>
        <%- include header %>
    </head>
    <body>
        <%- include navbar %>
        <div class="container content">
            <div class="text-center page-title"><%= title %></div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <form method="post">
                    	<div class="form-group">
                    		<input type="text" class="form-control" name="username" placeholder="Username">
                    	</div>
                    
                    	<div class="form-group">
                    		<input type="password" class="form-control" name="password" placeholder="Password">
                    	</div>
                    
                    	<button type="submit" class="btn btn-default center-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include footer %>
    </body>
</html>