<!DOCTYPE html>
<html>
    <head>
        <%- include header %>
    </head>
    <body>
        <%- include navbar %>
        <div class="container content">
            <div class="text-center page-title"><%= title %></div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <form method="post">

                    	<div class="form-group">
                    		<input type="text" class="form-control" name="title" placeholder="Post title">
                    	</div>
                    
                    	<div class="form-group">
                    		<input type="text" class="form-control" name="tag" placeholder="Post tag">
                    	</div>
                        <div class="form-group">
                    	    <textarea class="form-control" name="content" placeholder="Post Content"></textarea>
                	    </div>
                    
                    	<button type="submit" class="btn btn-default center-block">Post</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include footer %>
    </body>
</html>